# Web
SERVER_NAME="busmap.localhost localhost"
HOST_NAME=busmap.localhost
UPSTREAM_API_HOST=api
SSL_CERT_PATH=/etc/nginx/certs/busmap.localhost.pem
SSL_KEY_PATH=/etc/nginx/certs/busmap.localhost-key.pem

# API
BM_POSTGRES_PASSWORD=secret
BM_POSTGRES_USER=rider
BM_POSTGRES_DB=busmap
BM_COOKIE_SECRET=ride_the_bus
BM_COOKIE_SECURE=true
BM_COOKIE_SAMESITE=strict
BM_SESSION_STORE=redis
BM_REDIS_HOST=redis://session

# Debugging
DEBUG=busmap
RESTBUS_LOGGER=false

# SSO
SSO_GOOG_CLIENT_ID=252354370153-b37gekefvfvtkcml2dk2ogv4405ib96n.apps.googleusercontent.com
SSO_GOOG_CLIENT_SECRET=goog_secret

# UI
API_HOST=http://api:3000
VITE_GOOG_CLIENT_ID=${SSO_GOOG_CLIENT_ID}
