@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
:root {
  --color-light: #000000;
  --field-bg-color-light: #ffffff;
  --home-bg-color-light: #ffffffcc;
  --home-border-color-light: #cccccc;

  --color-dark: #e5e5e5;
  --field-bg-color-dark: #3b3b3b;
  --home-bg-color-dark: #191919cc;
  --home-border-color-dark: #191919;

  color-scheme: light dark;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Roboto, Arial, sans-serif;
}
html {
  height: 100%;
  display: grid;
  box-sizing: border-box;
}
body {
  color: var(--color-light);
  position: relative;
  display: grid;
  margin: 0;
  background: #e0e0e0cc;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body.busmap-light {
  color: var(--color-light);
  background: #e0e0e0cc;
}
body.busmap-dark {
  color: var(--color-dark);
  background: #3b3b3bcc;
}
body.busmap-dark .leaflet-layer,
body.busmap-dark .leaflet-control-zoom-in,
body.busmap-dark .leaflet-control-zoom-out,
body.busmap-dark .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
aside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  width: 33%;
  min-width: 290px;
  max-width: 425px;
  background: var(--home-bg-color-light);
  border-left: 1px solid var(--home-border-color-light);
  border-bottom: 1px solid var(--home-border-color-light);
  transform: translateX(0);
  transition: transform 0.25s ease;
}
aside.collapsed {
  transform: translateX(100%);
  transition-timing-function: ease;
}
body.busmap-dark aside {
  background: var(--home-bg-color-dark);
  border-left: 1px solid var(--home-border-color-dark);
  border-bottom: 1px solid var(--home-border-color-dark);
}
.leaflet-container {
  background: transparent;
}
.busmap-stop-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: red;
  stroke: black;
}
.busmap-vehicle-popup dl {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  justify-content: center;
  row-gap: 4px;
  column-gap: 8px;
}
.busmap-vehicle-popup dt {
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
}
.busmap-vehicle-popup dt::after {
  content: ':';
}
.busmap-vehicle-popup dd {
  margin: 0;
}
.busmap-vehicle-popup.selected {
  transition: transform 2.5s ease;
}
.busmap-vehicle {
  width: auto !important;
  height: auto !important;
  white-space: nowrap;
  border: 1px solid black;
  transition: transform 2.5s ease;
}
body.busmap-mapmove .busmap-vehicle {
  transition: none;
}
body.busmap-dark .busmap-vehicle {
  border: 1px solid var(--color-dark);
}
.busmap-vehicle:hover {
  z-index: 999 !important;
}
.busmap-vehicle::before {
  content: '';
  width: 15px;
  height: 100%;
  display: block;
  background: black;
  position: absolute;
}
body.busmap-dark .busmap-vehicle::before {
  background: var(--color-dark);
}
.busmap-vehicle.ne::before {
  top: -67%;
  left: -11px;
  clip-path: polygon(0% 50%, 100% 35%, 100% 65%);
  transform: rotate(45deg);
}
.busmap-vehicle.se::before {
  top: -67%;
  right: -11px;
  clip-path: polygon(0% 35%, 100% 50%, 0% 65%);
  transform: rotate(-45deg);
}
.busmap-vehicle.sw::before {
  top: 67%;
  right: -11px;
  clip-path: polygon(0% 35%, 100% 50%, 0% 65%);
  transform: rotate(45deg);
}
.busmap-vehicle.nw::before {
  top: 67%;
  left: -11px;
  clip-path: polygon(0% 50%, 100% 35%, 100% 65%);
  transform: rotate(-45deg);
}
.busmap-vehicle.hidden {
  display: none;
}
.busmap-vehicle div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  position: relative;
}
.busmap-vehicle span {
  display: inline-block;
  font-family: Roboto;
  padding: 2px 3px;
  height: 20px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.busmap-vehicle span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 350px) {
  aside {
    min-width: 320px;
  }
}
