@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}
:root {
  --bg-color: #e0e0e0;
  --home-bg-color: #ffffff88;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Roboto', Arial, sans-serif;
}
html {
  height: 100%;
  display: grid;
  box-sizing: border-box;
}
body {
  position: relative;
  display: grid;
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
aside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background: var(--home-bg-color);
  padding: 34px 28px;
  width: 33%;
  min-width: 320px;
  max-width: 450px;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}
aside.collapsed {
  transform: translateX(100%);
}
.leaflet-container {
  background: transparent;
}
